.App {
    text-align: center;
    background-image: linear-gradient(black, white);
}
#inputArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 40px 0px 40px 0px;
    position: fixed;
    background-color: black;
}
#input {
    width: 40vw;
    height: 40px;
    font-size: 20px;
    margin-left: 40px;
    padding-left: 10px;
    border: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#search {
    font-size: 20px;
    padding: 9.6px;
    border: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#random {
    font-size: 20px;
    padding: 9.6px;
    border: 1px;
    border-left: 2px solid;
    border-radius: 10px 20px 20px 10px;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
}
#gifContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 140px;
}